.main-body{
  margin: auto;
  border: 1px solid black;
  width: 80%;
  height: 500px;
}

h4{
  background-color: rgb(81, 153, 231);
  color: white;
  height: 30px;
  text-align: center;
}

.add-new-btn,.retrieve-btn{
  background-color: rgb(81, 153, 231);
  border: rgb(81, 153, 231);
  height: 25px;
  margin-left: 10px;
  width: 20%;
}

.body{
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 10px;
  width: 95%;
  height: 300px;
}

.add{
  border: rgb(81, 153, 231);
  background-color: rgb(81, 153, 231);
  color: white;
  margin-left: 92%;
  margin-top: 5%;
  margin-bottom: 5px;
  height: 30px;
  width: 60px;
}

.add-new{
  border: 1px solid black;
  height: 20px;
  width: 20%;
  text-align: center;
  padding: 10px;
}

.table{
  display: grid;
  margin-top: 15px;
}

th{
  background-color:rgb(81, 153, 231);
  border: 1px solid black;
  width: 17.5%;
  color: white;
}

td{
  border: 1px solid black;
  height: 30px;
  background-color: #e1f7fc;
}

.saveBtn,.delBtn{
  background-color: #eafafe ;
  color:rgb(71, 131, 196);;
  border:#e9f7fb;
  font-weight: bold;
}

p{
  border: 1px solid black;
  width: 15%;
  height: 35px;
  text-align: center;
  margin-top: 0px;
}

#find-input{
  height: 30px;
  margin-left:10px;
}

#find-btn{
  height: 35px;
  width: 60px;
  margin-left: 10px;

}

